<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost\MSSQLSERVER01; Database= coronaInformation; Trusted_Connection = True;" name="persistenceConnection" />
    <add connectionString="host= localhost:5672;" name="transportConnection" />
  </connectionStrings>
</configuration>